/* OPTION DETAILS DIV */

body{
    overflow-x: hidden;
}

.option-details{
    overscroll-behavior: contain;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh; 
    width: 100vw; 
    backdrop-filter: blur(50px);
    z-index: 10;
    
    overflow-y: scroll;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.option-details-outter-wrapper{
    margin: 15px 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.option-details-outter-wrapper button{
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 0;
}

.option-details-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid #ffe9e9;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
}

.option-details-wrapper form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-details-wrapper form button{
    width: 95%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 0;
    margin-top: 10px;
}

.option-booking-inputs{
    width: 95%;
    
    display: flex;
    justify-content: space-between;
}

.option-booking-inputs input{
    width: 49%;
}



.option-routes{
    background-color: #ffe9e9;
    
    margin-top: 10px;
    padding: 10px 0;
}

#margin-top-bottom{
    margin: 10px 0;
}

.option-flights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


@media only screen and (max-width: 480px){
    .option-details-outter-wrapper{
        width: 90%;
    }
}

@media only screen and (min-width: 768px){
    .option-details-outter-wrapper{
        width: 70%;
    }
}

@media only screen and (min-width: 1024px){
    .option-details-outter-wrapper{
        width: 40%;
    }
}